.dropdown {
  display: flex;
  flex-direction: column;
  width: 120px;

  &-label {
    cursor: pointer;
    font-weight: bold;
    @include spacing-stack($xxs);
  }

  &-btn {
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 4px;
    @include spacing(padding, $xs);
    display: flex;
    justify-content: space-between;
    font-family: $font-stack;
    align-items: center;

    &-icon {
      width: $sm;
    }
  }

  &-selection {
    position: absolute;
    background: white;
    margin-top: 50px;
    border-radius: 4px;
    border: solid 1px gray;

    &-item {
      cursor: pointer;
      padding: $xs;
    }
  }
}
