.toolbar {
  background-color: white;
  font-family: $font-stack;
  @include spacing-offset(padding, $l, 0);
  &-title {
    font-weight: bold;
    @include spacing-offset(margin, $m, 0);
    font-size: $l;
  }
}
